body {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    border-style: solid;
}

.container {
    display: flex;

}